
.charname{
    font-size: xx-large;
}

.imagen{
    height: 300px;
    border-radius: 10px;
}

.info{
    font-size: large;
}
.caja{
    margin-top: 90px;
    border-radius: 30px;
    background-color: hsla(227, 83%, 58%, 0.51);
    padding: 30px;
}


.descriptione{
    margin-left: 70px;
     font-size: large;
    max-width: 400px;
    white-space:pre-wrap;
    
}