.box{

    border-radius: 15px;
    background-color:#ffffff52;
    padding: 70px 100px;
    margin: 350px;
    margin-top:250px ;
    color: rgb(29, 29, 97);;
}


.nameAgeGender{
    color:rgb(29, 29, 97);;;
    display: flex;
    justify-items: center;
    justify-content:space-evenly;
    gap: 10px;
   
   
}

.tres{
    color: rgb(29, 29, 97);;;
    border: none;
    background-color:hsla(222, 82%, 85%, 0.83);
    border-radius: 20px;
    outline-color: rgb(149, 67, 189);
}
.otrostres{
    color: rgb(29, 29, 97);;;
    border: none;
    background-color:hsla(222, 100%, 83%, 0.83);
    border-radius: 20px;
    outline-color: rgb(149, 67, 189);
}


.raceDescriptionStatus{
    margin-top: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
}

.image{
    margin-top: 15px;
}

.boton{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
    margin-left: 4px;

}




.cancel{
    cursor: pointer;
    font-family: 'Bonzai';
}

.cancel:hover{
    color: rgb(38, 38, 138);
}

.add{
    cursor: pointer;
    font-family: 'Bonzai';
}
.add:hover{
     color: rgb(38, 38, 138);
}