*{
    list-style: none;
}



.botonGeneral{
padding-top: 75px;
display: flex;
align-content: center;
justify-content:space-around
}

.botonAdd button{
    box-shadow: 5px 5px 15px rgb(103, 16, 86);
border: none;
    background-image: linear-gradient(180deg,#cf0851,#e099d7);
padding: 15px 60px;
color: #ffffff;
border-radius: 40px ;

}

.botonAdd button:hover{
   
     color: rgb(38, 38, 138);;
}


.botonCharacter div input{
    
    margin-top: 15px;
    border-radius: 60px ;
     background-color: rgb(255, 255, 255);
     padding: 10px 30px;
     border: none;
     color: #000000;
     
     
  
}

.botonCharacter div select{
    border-radius: 20px;
     background-color: rgb(253, 253, 253);
     padding: 10px 30px;
     color: black;
     font-size: large;
     

     }


     .addCharacter{
        box-shadow: 5px 5px 19px #125a67;
        border: none;
        background-image: linear-gradient(180deg,#208b9e,#73e1f5);
        padding: 15px 50px;
        color: #eeeff8;
        border-radius: 60px ;


     }

.home{
    color: black;
    font-size: large;
}

.logo {
    margin-top: 50px;
    width: 20%;
}
