

  .formu{
    color:  rgb(29, 29, 97);
    background-color:hsla(222, 100%, 83%, 0.43)  ;
    padding: 30px 60px;
    border-radius: 5px;
      
}


.genre{
  
    margin-top: 10px;
    font-size: x-large;
  }

.nameYear{
 display: flex; 
 gap: 35px;
}

.name{
  padding: 5px 10px;
  border: none;
  background-color: #b6b9c4;
    border-radius: 20px;
   margin-left: 10px;
   color: #101c50;
 
}

.description{
  background-color: #cdd3e8;
  border: none;
    border-radius: 20px;
   margin-left: 10px;
   padding: 10px 40px;
   color: #101c50;
 
}

.year{
  border: none;
  background-color: #b6b9c4;
  padding: 5px 10px;
    border-radius: 20px;
   margin-left: 10px;
   color: #101c50;
}

.toppings-list{
 color:  rgb(29, 29, 97);
 display: grid;
grid-template-columns: auto auto;
justify-items: left;
justify-content:space-around;


}


.add{
    background-image: linear-gradient(180deg,#3E5DED,#9dadf5);
 
padding: 5px 25px;
border: none;
color: #eeeff8;
border-radius: 60px ;}





.cancel{
background-image: linear-gradient(180deg,#b82a7d,#c7a7a8);
padding: 5px 25px;
border: none;
color: #eeeff8;
border-radius: 60px ;

}


.addCancel{
   margin-top: 20px; 
   display: flex;
   justify-content: center;
   gap: 10px;

}